/* navigation */
.nav-link:hover {
    color: #3990DC;
}
.nav-link::after {
    content: '';    
    width:0;
    height:8px;
    background-color: #3990DC;
    transition: width .10s;
    position: absolute;
    bottom: -8px;
    left:0;
}
.nav-link:hover::after {
    width:100%;
    transition: width .4s;
}   
/* nav pop up menu fixes */
.cat-nav-pop-menu > .cat-textbox::-webkit-scrollbar {
    width: 4px;
    cursor: pointer;
}
.cat-nav-pop-menu > .cat-textbox::-webkit-scrollbar-track {
    background-color: #2D2522;
}
.cat-nav-pop-menu > .cat-textbox::-webkit-scrollbar-thumb {
    background-color: #3990DC;
    width:100%;
}
.nav-hamburger:hover .nav-ham-icon-line {
    background-color: #3990DC;
    width: 16px;
}
.nav-hamburger:hover .nav-ham-icon-line.short {
    width: 36px;
}
/* Scrollbars */
body::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
}
body::-webkit-scrollbar-track {
    background-color: #F4F2EF;
    width:100%;
}  
body::-webkit-scrollbar-thumb {
    background-color: #3990DC;
    width:100%;
}
.cat-learning-popModule::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
}
.cat-learning-popModule::-webkit-scrollbar-track {
    background-color: #F4F2EF;
    width:100%;
}  
.cat-learning-popModule::-webkit-scrollbar-thumb {
    background-color: #3990DC;
    width:100%;
}
.cat-navmenu-pop {
    transition: opacity 200ms ease, transform 500ms ease, clip-path 800ms ease;
}
.cat-navmenu-pop.opened {
    display: flex;
}


/* Element Fix */
.learning-tile .cat-h1, .learning-tile .cat-h2, .learning-tile .cat-h3 {
	transition: margin-right .8s;
}
.learning-tile:hover > .cat-h1, .learning-tile:hover > .cat-h2, .learning-tile:hover > .cat-h3 {
	margin-right: 64px;
}

@media screen and (max-width: 479px) {
    .learning-tile:hover > .cat-h1, .learning-tile:hover > .cat-h2, .learning-tile:hover > .cat-h3 {
        margin-right: 16px;
    }

}